@import "../../styles/colors";
.event-list tr .accent {
    color: $color-eng;
}

.event-body {
    padding-bottom: 20px;
}

.body-title {
    margin-bottom: 0px;
}

.scroll {
    height: auto;
    max-height: 525px;
    padding-right: 10px;
    overflow-y: auto;
    display: block;
    padding-bottom: 30px;
}

.fade-in-bottom {
    position: relative;
}

.fade-in-bottom:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    width: 100%;
    height: 3em;
}