.navbar-nav a.nav-link.active:nth-child(odd) {
    color: var(--color-accent-eng);
}

.navbar-nav a.nav-link.active:nth-child(even) {
    color: var(--color-accent-math);
}

.navbar-nav.bg-transparent {
    color: transparent;
}