@import "../../styles/colors";
.society-profiles {
    margin-top: 30px;
}

.card-img {
    padding: 0px;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
    object-fit: cover;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .card {
        font-size: calc(5px + .75vw);
        line-height: calc(1.1em + 0.5vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .card {
        font-size: calc(10px + 1vw);
        line-height: calc(1.1em + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .card {
        font-size: calc(10px + 0.5vw);
        line-height: calc(1.1em + 0.5vw);
    }
}

.card {
    padding-left: 15px;
    border-width: 0px;
    width: 100%;
}

.card-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $color-eng;
}

.card-full-width {
    width: 100%;
}

.card-text {
    color: white;
    text-align: left;
}