@import "../../styles/colors";
.society-profiles {
    margin-top: 40px;
    margin-bottom: 80px;
}

.card-img {
    padding: 0px;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
    object-fit: cover;
    width: 100%;
    max-height: 256px;
}

.card {
    margin-left: 0px !important;
    padding-left: 15px;
    border-width: 0px;
    width: 100%;
}

.card-header {
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: $color-eng;
}

.col-align-left {
    margin-left: 0px;
    padding-left: 0px;
}

.card-full-width {
    // padding-left: 0px;
    // margin-left: 0px;
    width: 100%;
}

.text-center {
    color: white;
    align-items: center;
}