.exec-img, .about{
    display: inline;
}

.BSoc, .old {
    padding-top:50px
}
.ASoc {
    padding-top:20px;
}

.exec-img {
    max-width: 75%;    
}
.card {
    width: 35%;
    margin-left:10%;
    margin-top:15px;
}

