.App {
  text-align: center;
  --eng-purple: #692D90;
  --math-pink: #E6237D;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar styling */

li > a{
  margin-top: 0em;
}

.primary-nav{
  float: right;
  margin-left:auto;
  margin-right:0;
  text-align: right;
}

/* Site-wide colors */
h1{
  color: #34156a
}

p{
  color: #000;
}

h2, h3 {
  color:#735d9a;
}

body{
  font-family: 'Source Code Pro', monospace;
}
