$color-primary: black;
$color-accent-eng: #692D90;
$color-accent-math: #E6237D;
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Navbar styling */

a {
    margin-top: 0em;
}

.primary-nav {
    float: right;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

.nav-link.active {
    color: #000;
}


/* Site-wide styling */

h1 {
    color: $color-primary;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p {
    color: $color-primary;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2,
h3 {
    color: $color-accent-eng;
}

body {
    /* font-family:"Comic Sans MS", cursive, sans-serif;  */
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.center {
    text-align: center;
}

.calendar {
    border: 0;
    width: 100%;
    height: 600px;
}

.container {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
}

.container-left {
    width: 500px;
    float: left;
}

.container-right {
    margin-left: 540px;
}