$color-eng: #692D90;
$color-eng-light: #b496c7;
$color-eng-lightest: #e1d5e8;
.container {
    margin-top: 90px;
    margin-bottom: 100px;
}

.cal {
    height: 600px;
}

.cal-add {
    margin-top: 20px;
    width: 100%;
}

.cal-add-btn {
    float: right;
    background-color: $color-eng;
    border-width: 0px;
    margin-bottom: 3px;
}

.cal-add-btn:hover {
    background-color: $color-eng-light;
}