/* Home Page Hero */

#hero-image {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    z-index: 0;
}

.jumbo-container {
    background-color: #F0EDF1;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.intro-container {
    position: relative;
    z-index: 1;
}

// Upper bound
@media screen and (min-width: 1400px) {
    #hero-image {
        width: 1010px;
        margin-left: 150px;
        top: 5px;
    }
    .jumbo-container {
        height: 480px;
        display: flex;
        justify-content: center;
    }
    .intro-container {
        padding-top: 70px;
    }
    #intro {
        font-size: 33.5px;
    }
}

// Tablet to desktop screen optimized
@media screen and (min-width: 576px) and (max-width: 1399px) {
    #hero-image {
        width: calc(450px + 40vw);
        margin-left: 150px;
        top: 5px;
    }
    .jumbo-container {
        height: calc(200px + 20vw);
        display: flex;
        justify-content: center;
    }
    .intro-container {
        padding-top: 5%;
    }
    #intro {
        font-size: calc(16px + 1.25vw);
    }
}

// Mobile screen optimized
@media screen and (max-width: 576px) {
    #hero-image {
        width: calc(100px + 100vw);
        opacity: 50%;
        right: -20%;
        top: calc(80px - 12vw);
    }
    .jumbo-container {
        height: 300px;
    }
    .intro-container {
        padding-top: 10%;
    }
    #intro {
        font-size: 28px;
    }
}


/* Home Page Content */

.blurb-image {
    max-width: 100%;
    max-height: 100%;
}

.blurb-content {
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (min-width: 1665px) {
    .blurb-image {
        max-width: 340px;
    }
}

@media screen and (max-width: 576px) {
    .blurb-image {
        max-width: 80%;
        max-height: 80%;
    }
    .blurb-image-container {
        display: table-cell;
        vertical-align: middle;
        text-align: center
    }
}