.hero-image {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    z-index: 0;
}

.jumbo-container {
    background-color: #F0EDF1;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.intro-container {
    position: relative;
    z-index: 1;
}

// Upper bound
@media screen and (min-width: 1665px) {
    .hero-image {
        width: 1122px;
        right: -160.50px;
        top: 5px;
    }
    .jumbo-container {
        height: 536px;
    }
    .intro-container {
        padding-top: 5%;
    }
    h2 {
        font-size: 37px;
    }
}

// Tablet to desktop screen optimized
@media screen and (min-width: 576px) {
    .hero-image {
        width: calc(450px + 40vw);
        right: calc(-60% + 52vw);
        top: 5px;
    }
    .jumbo-container {
        height: calc(200px + 20vw);
    }
    .intro-container {
        padding-top: 5%;
    }
    h2 {
        font-size: calc(16px + 1.25vw);
    }
}

// Mobile Screen Optimized
@media screen and (max-width: 576px) {
    .hero-image {
        width: calc(100px + 100vw);
        opacity: 50%;
        right: -20%;
        top: calc(80px - 12vw);
    }
    .jumbo-container {
        height: 300px;
    }
    .intro-container {
        padding-top: 10%;
    }
    h2 {
        font-size: 28px;
    }
}

.blurb-image {
    width: 300px;
}

.blurb-image-right {
    width: 300px;
    position: relative;
}

.blurb-content {
    padding-top: 100px;
    vertical-align: middle;
}